$body-color: #121221;
$primary: #2ca545;
$secondary: #f67600;
$danger: #ee0000;
$f6: #f6f6f6;
$enable-dark-mode: false;
$enable-negative-margins: true;
$enable-grid-classes: false;
$enable-cssgrid: true;
$footer-bg: #f6f6f6;
$input-disabled-bg: rgba($body-color, 2%);
$input-font-size: 14px;
$input-font-weight: 500;
$errors-bg-color: #f2fff8;
// scss-docs-start form-input-variables
